body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
.FormSection {
  margin-bottom: 10px;
}
.FormField {
  border: 2px solid gray;
  border-left-width: 10px;
  padding: 10px;
  transition: all 0.2s;
  background-color: whitesmoke;
  margin-bottom: 10px;
}
.FormField:focus-within {
  border-color: darkblue;
}
.FormItem {
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}
.FormItem:focus-within {
  border-color: blue;
}
.FormInput {
  border: none;
  box-shadow: none !important;
  outline: none !important;
}
.FormInput[disabled] {
  background-color: white;
}
.FormFieldHeader {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  justify-content: space-between;
} 
.FormItemFooter {
  display: grid;
  justify-items: start;
  grid-template-columns: min-content auto;
  gap: 10px;
  align-content: center;
}
.FormItemTitle, 
.FormItemSelect {
  width: 100%;
}
.IconWrapper span {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.IconWrapper span svg {
  height: 1.5em;
  width: 1.5em;
}
.FormSelectOptionSpan {
  width: 100%;
  margin-left: 10px;
}

@media (min-width: 720px) {
  .FormFieldHeader {
    flex-direction: row !important;
  }
  .FormItemTitle {
    width: 70%;
  }
  .FormItemSelect {
    width: 25%;
  }
  .FormFieldDelete::after {
    content: " Remove Question";
  }
}